<header class = "header" >
   <div class = "portofrio">portfolio
   </div>
</header>

<body class = "body">
      <div class = "self">目次</div>
      <div class = "index">
          <div class = "title0">
               <div  class = "title0-text">1,自己紹介</div>
               <div class = "title0-tet">　</div>
          </div>
          <div class = "title0">
              <div class = "title0-tet">　</div>
               <div  class = "title0-text">2,経歴</div>
          </div>
          <div class = "title0">
               <div  class = "title0-text">3,作品等</div>
               <div class = "title0-tet">　</div>
          </div>
          <div class = "title0">
               <div class = "title0-tet">　</div>
               <div  class = "title0-text">4,その他自己研鑽</div>
          </div>
      </div>
      <div class = "introductions">
         <div class = "self">自己紹介</div>
         <div class = "self-introduction">
             <div class = "title1">
               <div class = "title1-text">名前</div>
               <div  class = "title1-name">早坂章節</div>
               <div class = "title1-text">年齢</div>
               <div  class = "title1-name">２２歳、天秤座</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">利き手</div>
               <div  class = "title1-name">左</div>
               <div  class = "title1-text">特技</div>
               <div  class = "title1-name">暗記、暗算</div>
             </div>
             <div class = "titlesss">
               <div  class = "title1-texts">〜好きなもの７選〜</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">歌手</div>
               <div  class = "title1-name">井上苑子</div>
               <div  class = "title1-text">芸能人</div>
               <div  class = "title1-name">松岡修造</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">映画</div>
               <div  class = "title1-names">僕は明日、昨日の君とデートする</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">ドラマ</div>
               <div  class = "title1-name">真田丸</div>
               <div  class = "title1-text">食べもの</div>
               <div  class = "title1-name">餃子</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">スポーツ</div>
               <div  class = "title1-name">テニス、野球</div>
               <div  class = "title1-text">動物</div>
               <div  class = "title1-name">犬、猫</div>
             </div>
          </div>
            <div class = "titlesss">
               <div  class = "title1-texts">〜自己PR〜</div>
            </div>
          <div class = "self-introduction">
             <div class = "title11">
               <div  class = "title11-text">趣味嗜好</div>
               <div  class = "title11-texts">
               スポーツ観戦が好きで、日頃からテニスや高校野球を中心に幅広く見ています。<br>
               休みの日には友人とドライブに行くことが多く、日本４７都道府県全てに行くことが目標です！
               </div>
               <div  class = "title11-text">自覚している性格</div>
               <div  class = "title11-texts">
               結婚詐欺師に向いてると言われるほど、優しく共感力が高い性格をしています。<br>
               隠し事が苦手で、顔に出てしまうのが難点です。
               </div>
               <div class = "title11-text">長所</div>
               <div  class = "title11-texts">
               吸収力は異常と自負しています。誰かが想定したことより遅かったことは一度もなく、<br>
               想定を必ず超えられるポテンシャルを秘めています。
               </div>
               <div class = "title11-text">短所</div>
               <div  class = "title11-texts">
               共感性の高さから周囲の感情を敏感に拾うため、周囲の喜怒哀楽にモチベーションを左右されることがあります<br>
               正しく褒めると伸びるタイプです。失敗した際はお前ならできると言ってください。
               </div>
               <div  class = "title11-text">夢</div>
               <div  class = "title11-texts">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
             </div>
         </div>
      </div>
      <div class = "self">経歴</div>
      <div class = "introduction2">
            <div class = "title2">
               <div class = "title2-text">幼少期</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。aaaaaaaaaaaaaa<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">中学生</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">高校生</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">大学生</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">卒業後</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
      </div>
      <div class = "self">作品等</div>


      <div class = "portofrio-s">
               <div class = "title3-text">FURIMA</div>
               <div class = "title3-text">Paiza lank</div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content">FURIMA</div>
               <div class = "title3-content">Paiza lank</div>
      </div>
      <div class = "portofrio-s">        
               <div class = "title3-text">Manymenu</div>
               <div class = "title3-text">About Manymenu</div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content">FURIMA</div>
               <div class = "title3-content">Paiza</div>
      </div>
      <div class = "self">その他自己研鑽</div>
      <div class = "portofrio-sss">
             <div class = "knowledgex">
               <div class = "title4">
                  <div class = "title4-text">心理学</div>
                  <div class = "title4-content">aaaaaaaaaaaaaaaaaaa<br>
                  aaaa</div>
                </div>
                <div class = "title4">
                  <div class = "title4-text">FP</div>
                  <div class = "title4-content">aaa</div>
                </div>
                <div class = "title4">
                  <div class = "title4-text">マーケティング</div>
                  <div class = "title4-content">aaa</div>
                </div>
                <div class = "title4">
                  <div class = "title4-text">マーケティング</div>
                  <div class = "title4-content">aaa</div>
                </div>
                <div class = "title4">
                  <div class = "title4-text">中国語</div>
                  <div class = "title4-content">aaa</div>
                </div>
               <div class = "title4">
                  <div class = "title4-text">筋トレ</div>
                  <div class = "title4-content">aaa</div>
                </div>
                <div class = "title4">
                  <div class = "title4-text">瞑想</div>
                  <div class = "title4-content">aaa</div>
                </div>
                <div class = "title4">
                  <div class = "title4-text">簿記</div>
                  <div class = "title4-content">aaa</div>
                </div>
            </div>
      </div>
</body>
<div class = "empty">
</div>
<footer class = "footer">
 <div class = "pt-end">portfolio</div>
</footer>