<header class = "header" >
   <b class = "portofrio">portfolio
   </b>

      
      <div class = "index">
          <div class = "self0"></div>
          <div class = "title0">
               <div  href = "#zikoshokai"  class = "title0-text">1,自己紹介</div>
               <div  href = "#zikoshokai"  class = "title0-text">2,経歴</div>
               <div  href = "#zikoshokai"  class = "title0-text">3,作品等</div>
               <div  href = "#zikoshokai"  class = "title0-text">4,その他<br>　自己研鑽</div>
          </div>
      </div>
</header>

<body class = "body">
       <div id = "zikoshokai" class = "self">1,自己紹介</div>
              
      <div class = "introductions">
             
         <div class = "self-introductionss">
             <div class = "titlesss">
               <div  class = "title1-texts">〜基本情報〜</div>
             </div>
             <div class = "title1">
               <div class = "title1-text">名前</div>
               <div  class = "title1-name">早坂章節</div>
               <div class = "title1-text">年齢</div>
               <div  class = "title1-name">２２歳</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">利き手</div>
               <div  class = "title1-name">左</div>
               <div  class = "title1-text">特技</div>
               <div  class = "title1-name">暗算</div>
             </div>
             <div class = "titlesss">
               <div  class = "title1-texts">〜好きなものベスト７選〜</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">歌手</div>
               <div  class = "title1-name">井上苑子</div>
               <div  class = "title1-text">芸能人</div>
               <div  class = "title1-name">松岡修造</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">映画</div>
               <div  class = "title1-names">僕は明日、昨日の君とデートする</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">ドラマ</div>
               <div  class = "title1-name">真田丸</div>
               <div  class = "title1-text">食べもの</div>
               <div  class = "title1-name">餃子</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">スポーツ</div>
               <div  class = "title1-name">テニス</div>
               <div  class = "title1-text">動物</div>
               <div  class = "title1-name">犬、猫</div>
             </div>
          </div>
        </div>
      </div>
      <div class = "introductions-1">
         <div class = "self-introductions">
            <div class = "empty"></div>
            <div class = "titlesss">
               <div  class = "title1-texts">〜自己PR〜</div>
            </div>
          <div class = "self-introduction">
             <div class = "title11">
               <div  class = "title11-text">趣味</div>
               <div  class = "title11-texts">
               　スポーツ観戦では、テニスや高校野球を中心に幅広く見ています。 <br>
               　またドライブや旅行も好きでして、目標は４７都道府県全てに行くことです！（現在19都道府県）
               </div>
               <div  class = "title11-text">自覚している性格</div>
               <div  class = "title11-texts">
               　好奇心が旺盛で挑戦好きに加え、負けず嫌いで結果を出すのに貪欲な性格です。<br>
               　友人には結婚詐欺師に向いてると言われるほど、全員に優しく接することができ共感力も非常に高いです。

               </div>
               <div class = "title11-text">長所</div>
               <div  class = "title11-texts">
               　吸収力は異常に早いと自負しております。そのため苦手なことも恐れずに挑戦することができます。<br>
               　また根拠のない自信をもち決めた目標に直向きに努力できます。
               </div>
               <div class = "title11-text">短所</div>
               <div  class = "title11-texts">
              　共感性高く周囲の感情を敏感に拾うため、周囲の喜怒哀楽に左右されます。<br>
              　感情を切り替えることが得意じゃないため、公私が互いに影響し合います。<br>
               </div>
               <div  class = "title11-text">夢</div>
               <div  class = "title11-texts">
               　何千万も稼げるような周囲に必要とされる市場価値の高いビジネスマンになりたいです。<br>
               　政界に挑戦し、教育改革に取り組み、海外の人材に負けない人材を育てる環境づくりに関わりたいと考えています。<br>
               　金銭的に余裕ができ次第、発展途上国の生活支援にも挑戦したいです。生まれた環境で全て決まる事実を変えて行きたいです。
               </div>
             </div>
         </div>
      </div>
      <div class = "self">2,経歴</div>
      <div class = "introduction2">
              <div class= "empty"></div>
              <div class = "portofrio-s">
               <div class = "title3-texts">1.幼少期</div>
               <div class = "title3-texts">　</div>
               <div class = "title3-texts"></div>
               <div class = "title3-texts">　</div>
               <div class = "title3-texts">5.卒業後</div>
              </div>
              <div class = "portofrio-s">
               <div class = "title3-texts">　</div>
               <div class = "title3-texts">2.中学生</div>
               <div class = "title3-texts">　</div>
               <div class = "title3-texts">4.大学生</div>
               <div class = "title3-texts">　</div>
              </div>
              <div class = "portofrio-s">
               <div class = "title3-texts">3.高校生</div>
              </div>
            <div class= "empty"></div>
            <div class = "title2">
               <div class = "title2-text">幼少期</div>
               <div  class = "title2-name">
               　子供の頃は常に外で遊び、いたずらも好きな活発な少年でした。<br>
               　また将棋が好きだった頃があり、のちに学校で流行るきっかけを作りました。<br>
               　小３まで水嫌いで顔を水に付けれなかったのですが、小５では1000mを泳げるまで成長しました。
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">中学生</div>
               <div  class = "title2-name">
               　野球部に所属、５０名以上いる中で中一の頃から試合に出るほど重宝されておりました。<br>
               　生徒会副会長に立候補して当選し、体育祭等の学校行事運営を主導しておりました。<br>
               　志望校には、成績が遥かに及ばず大苦戦しましたが、本番１ヶ月前に届き無事合格できました。
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">高校生</div>
               <div  class = "title2-name">
               　陸上に所属し、目標だった100m11秒台をマークしました。<br>
               　体育祭応援団に所属し、始発通い等では苦慮しましたが、演舞という部門で最優秀賞を獲得しました。<br>
               　学年順位は初め280人中267位でしたが、高３では学年トップ１０に入るほどの実力になりました。
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">大学生</div>
               <div  class = "title2-name">
               　学習塾で生徒数200人弱の校舎運営に携わり、高等部を主導した一昨年は全員を第一志望に合格に導きました。<br>
               　英語が大の苦手でしたが豪州への留学に挑戦し、現地の学校に通いつつ異国の文化や食事に触れてきました。<br>
               　卒業研究では、国際経済分野でフェアトレードは本当に公正な利益を農家にもたらすかついて研究しました。
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">卒業後</div>
               <div  class = "title2-name">
               　卒業後プログラミングの専門学校に通い、同期で一番に最終課題を突破しました。<br>
               　今後はスタートアップ企業、また成長企業に入り、会社の中枢で活躍できる人材になりたいと考えています。<br>
               　その後には、起業や政界進出など、多岐に渡り挑戦したいことが山のようにあります！
               </div>
            </div>
      </div>
      <div class = "self">3,作品等</div>
       
    <div class = "self123">
       <div class = "item-group">
         <div class = "portofrio-s">
              <div class = "selfs-text">期間,2020年7〜9月</div>
         </div>
         <div class = "portofrio-s">
              <div class = "selfs-name">
              　大学卒業後、プログラミング技術で下記を用いた複合的機能の企画・実装を学びました。<br>
              　〜HTML・CSS・Ruby・Ruby on Rails・JavaScript・GitHub・AWS等〜
              </div>
         </div>
         <div class = "portofrio-s">
               <div class = "title3-text">1.FURIMA</div>
               <div class = "title3-text">　</div>
               <div class = "title3-text">2.Paiza lank　</div>
               <div class = "title3-text">　</div>
         </div>
         <div class = "portofrio-s">
               <div class = "title3-text">　</div>
               <div class = "title3-text">　3.Manymenu</div>
               <div class = "title3-text">　</div>
               <div class = "title3-text">4.About Manymenu</div>
         </div>
       </div>
      <div class = "empty"></div>
      
      <div class = "portofrio-s">
               <div class = "title3-text">1.FURIMA</div>
               <div class = "title3-text">2.Paiza lank</div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content_1"></div>
               <div class = "title3-content_2"></div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content_12">
               　専門学校の最終課題で作ったフリマアプリのクローンです。主にサーバー側を実装しました。<br>
               　同期入校した方々の中で一番に完成させることができました！</div>
               <div class = "title3-content_12">
               　paizaという初心者がプログラミング技術を測れるアプリがあります。<br>
               　S~Dまでの5段階評価で現在私はAランクです。結果や詳細は公開されています。</div>
      </div>
      <div class = "portofrio-s">
               <a class = "aaa" href = "https://furima-28408.herokuapp.com/">
                  <div class = "bbb">完成品をみる</div></a>
               <a class = "aaa" href = "https://paiza.jp/career/mypage">
                  <div class = "bbb">paizaをみる</div></a>
      </div>


      <div class = "portofrio-s">        
               <div class = "title3-text">3.Manymenu</div>
               <div class = "title3-text">4.About Manymenu</div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content_3"></div>
               <div class = "title3-content_4"></div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content_12">
                　最初に個人で作った完全オリジナルアプリです。デザインは途中です。<br>
                　『コロナ禍で必要とされているものは何か』と考え、現実に沿った物を作りました。<br>
                　詳細は右のabout_Manymenuに記載しております。
               </div>
               <div class = "title3-content_12">
               　オリジナルアプリ制作にあたって、調べた記事や論文等を簡単にまとめたものです。<br>
               　アプリ制作の背景や、整備されている機能、このアプリのメリット等、根拠まで記載した物です。
               </div>
      </div>
      <div class = "portofrio-s">
         <div class = "photos-information">
           3.Manymenu,4.About Manymenuは下の図をスクロールで見ることができます！
         </div>
      </div>
      <div class = "portofrio-s">
         <div class = "photos-information">
           ⇩　⇩　⇩　⇩　⇩
         </div>
      </div>
      <div class = "portofrio-s">
               <div class = "photos">
                  <div class = "photos_coment">1,トップページ</div>
                  <div class = "photos_comentsss">
                  アプリのトップページです。ここで検索、ログインを行います。<br>
                  最新店舗は上下にスクロール&クリック可能です。<br>
                  下方はアプリの概要を説明しています！、写真は仮置きです。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-1"></div>
                     <div class = "photo1-2"></div>
                     <div class = "photo1-3"></div>
                     <div class = "photo1-4"></div>
                     <div class = "photo1-5"></div>
                  </div>
                  <div class = "photos_coment">2,問い合わせページ</div>
                  <div class = "photos_comentsss">
                  トップページ最下部左にある問い合わせボタンから遷移できます。<br>
                  全ユーザー使用可能です。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-6"></div>
                  </div>
                  <div class = "photos_coment">3,事業者サインイン</div>
                  <div class = "photos_comentsss">
                  トップページ右上から遷移できます。<br>
                  このアプリでは事業者のみ登録を行います。<br>
                  ユーザーの目的に沿った結果、簡略化をしたためです。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-7"></div>
                  </div>
                  <div class = "photos_coment">4,事業者ログイン</div>
                  <div class = "photos_card">
                     <div class = "photo1-8"></div>
                  </div>
                  <div class = "photos_coment">５,検索</div>
                  <div class = "photos_comentsss">
                  トップページより、検索することで遷移できます。<br>
                  検索にかかったものは下に表示され、クリックすると目的の掲載ページに飛ぶことができます。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-9"></div>
                  </div>
                  <div class = "photos_coment">６,ログイン、サインイン後</div>
                  <div class = "photos_comentsss">
                  ログイン,サインインすると以下の画面に切り替わります。<br>
                  ここでは主に掲載ページを自作したり、運営にQRコードの発行依頼をできるようになっております。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-10"></div>
                  </div>
                  <div class = "photos_coment">7,掲載依頼ページ</div>
                  <div class = "photos_comentsss">
                  店主がパソコンが苦手な可能性、また面倒な方のためのページです。<br>
                  ログイン後掲載依頼をクリックし、運営側に掲載ページの作成を依頼できます。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-11"></div>
                  </div>
                  <div class = "photos_coment">８,QRコード料金計算</div>
                  <div class = "photos_comentsss">
                  ログイン後QRコードをクリックすると、このページに遷移します。
                  必要な枚数を入力すると料金を自動で計算し、そのまま依頼できます。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-12"></div>
                     <div class = "photo1-13"></div>
                  </div>
                  <div class = "photos_coment">9,衛生面、空き時間入力</div>
                  <div class = "photos_comentsss">
                  ログイン後衛生面をクリックすると、このページに遷移します。<br>
                  売上回復、顧客信頼回復に重要な二つの事項を入力でき、掲載画面に表示できます。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-14"></div>
                  </div>
                  <div class = "photos_coment">１０,掲載制作ページ</div>
                  <div class = "photos_comentsss">
                  ログイン後掲載する品を編集するをクリックすると、このページに遷移します。<br>
                  入力を完了させれば、そのまま掲載されます。編集は何度でもし放題です。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-15"></div>
                     <div class = "photo1-16"></div>
                  </div>
                  <div class = "photos_coment">１１,掲載ページ</div>
                  <div class = "photos_comentsss">
                  ログイン後確認するをクリックすると、このページに遷移します。<br>
                  またログインせずとも、トップの最新店舗や検索画面からも遷移できます。<br>
                  食欲増進させる黄色を基調とし、横にスクロールする体験から選んでいるという実感を与えます。
                  </div>
                  <div class = "photos_card">
                     <div class = "photo1-17"></div>
                     <div class = "photo1-18"></div>
                     <div class = "photo1-19"></div>
                     <div class = "photo1-20"></div>
                  </div>
                  <div class = "photos_coment">
                  以上です！ありがとうございました！
                  </div>
               </div>
               <div class = "photos">
                  <div class = "photo2-1"></div>
                  <div class = "photo2-2"></div>
                  <div class = "photo2-3"></div>
                  <div class = "photo2-4"></div>
                  <div class = "photo2-5"></div>
                  <div class = "photo2-6"></div>
                  <div class = "photo2-7"></div>
                  <div class = "photo2-8"></div>
                  <div class = "photo2-9"></div>
                  <div class = "photo2-10"></div>
                  <div class = "photo2-11"></div>
                  <div class = "photo2-12"></div>
                  <div class = "photo2-13"></div>
                  <div class = "photo2-14"></div>
                  <div class = "photo2-15"></div>
                  <div class = "photo2-16"></div>
                  <div class = "photo2-17"></div>
                  <div class = "photo2-18"></div>
                  <div class = "photos_coment">
                  以上です！ありがとうございました！
                  </div>
               </div>
            </div>
         <div class = "empty">
          <div class = "item-groups">
            <div class = "portofrio-s">
              <div class = "photos-information">
               1.FURIMA,3.Manymenuのgithubは
               下から見ることができます！
              </div>
           </div>
           <div class = "portofrio-s">
              <div class = "photos-information">
               ⇩　⇩　⇩
              </div>
           </div>
           <div class = "portofrio-s">
               <a class = "ccc" href = "https://github.com/Sho77986">
                  <div class = "title3-texts">Mypage of Github</div></a>
            </div>
            <div class = "portofrio-s">
               <a class = "ccc" href = "https://github.com/Sho77986/furima_28408_id">
                  <div class = "title3-texts">1,Github of FURIMA</div></a>
               <a class = "ccc" href = "https://github.com/Sho77986/ManyMenu_app">
                  <div class = "title3-texts">3,Github of Manymenu</div></a>
             </div>
           </div>
      
    </div>


      <div class = "self">4,その他、5つの自己研鑽</div>
      <div class = "portofrio-sss">
             <div class = "knowledgex">
                <div class = "title4">
                  <div class = "title4-text">ニュースチェック</div>
                  <div class = "title4-content">
                  政治、国際、経済ニュースを中心に毎日必ず記事を読み、教養を高めています。<br>
                  今では趣味のように毎朝楽しんでおります。</div>
               </div>
               <div class = "title4">
                  <div class = "title4-text">読書</div>
                  <div class = "title4-content">
                  主に心理学や、マーケティング、ビジネス書を読むようになりました。<br>
                  最近では読書の素晴らしさに気づけたことが一番の収穫と思っております。
                  </div>
                </div>
                <div class = "title4">
                  <div class = "title4-text">FP</div>
                  <div class = "title4-content">
                  税金や相続等、一生のうちに関わるであろう知識を学んでおきたいと考え、取り組んでいます。<br>
                  来年１月に２級を合格できればと考えております。</div>
                </div>
                
                <div class = "title4">
                  <div class = "title4-text">中国語</div>
                  <div class = "title4-content">
                  国際的に大きな影響力のある国の言葉を最低限把握しておこうと勉強しました。<br>
                  今ではHSK4級レベルの文章等はギリギリ読めるようになりました。</div>
                </div>
               <div class = "title4">
                  <div class = "title4-text">筋トレ、瞑想</div>
                  <div class = "title4-content">
                  これらは科学的に幅広くメリットがあると知る機会がありました。<br>
                  そのため毎日短時間ながら、必ず時間を割いて取り組んでいます。
                  </div>
                </div>
            </div>
      </div>
</body>
<div class = "empty">
</div>
<footer class = "footer">
 <div class = "pt-end">portfolio  ~end~</div>
</footer>