<header class = "header" >
   <b class = "portofrio">portfolio
   </b>
</header>

<body class = "body">
      <div class = "self">目次</div>
      <div class = "index">
          <div class = "title0">
               <div  class = "title0-text">1,自己紹介</div>
               <div class = "title0-tet">　</div>
          </div>
          <div class = "title0">
              <div class = "title0-tet">　</div>
               <div  class = "title0-text">2,経歴</div>
          </div>
          <div class = "title0">
               <div  class = "title0-text">3,作品等</div>
               <div class = "title0-tet">　</div>
          </div>
          <div class = "title0">
               <div class = "title0-tet">　</div>
               <div  class = "title0-text">4,その他<br>　自己研鑽</div>
          </div>
      </div>
      <div class = "introductions">
         <div class = "self">1,自己紹介</div>
         <div class = "self-introduction">
             <div class = "title1">
               <div class = "title1-text">名前</div>
               <div  class = "title1-name">早坂章節</div>
               <div class = "title1-text">年齢</div>
               <div  class = "title1-name">２２歳</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">利き手</div>
               <div  class = "title1-name">左</div>
               <div  class = "title1-text">特技</div>
               <div  class = "title1-name">暗算</div>
             </div>
             <div class = "titlesss">
               <div  class = "title1-texts">〜好きなものベスト７選〜</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">歌手</div>
               <div  class = "title1-name">井上苑子</div>
               <div  class = "title1-text">芸能人</div>
               <div  class = "title1-name">松岡修造</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">映画</div>
               <div  class = "title1-names">僕は明日、昨日の君とデートする</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">ドラマ</div>
               <div  class = "title1-name">真田丸</div>
               <div  class = "title1-text">食べもの</div>
               <div  class = "title1-name">餃子</div>
             </div>
             <div class = "title1">
               <div  class = "title1-text">スポーツ</div>
               <div  class = "title1-name">テニス</div>
               <div  class = "title1-text">動物</div>
               <div  class = "title1-name">犬、猫</div>
             </div>
          </div>
            <div class = "titlesss">
               <div  class = "title1-texts">〜自己PR〜</div>
            </div>
          <div class = "self-introduction">
             <div class = "title11">
               <div  class = "title11-text">趣味嗜好</div>
               <div  class = "title11-texts">
               　スポーツ観戦が好きで、日頃からテニスや高校野球を中心に幅広く見ています。<br>
               　また休日はドライブや旅行をすることが多く、死ぬまでに日本４７都道府県全てに行きたいです！（現在19都道府県）
               </div>
               <div  class = "title11-text">自覚している性格</div>
               <div  class = "title11-texts">
               　好奇心が旺盛で何かしら挑戦していることが好きです。
               　最近友人には結婚詐欺師に向いてると言われ、理由としては人との距離感が近く
               圧力を感じない体格に笑顔で優しい雰囲気が重なるためだそうです。

               </div>
               <div class = "title11-text">長所</div>
               <div  class = "title11-texts">
               　吸収力は異常と自負しています。誰かが想定したことより遅かったことは一度もなく、<br>
               想定を必ず超えられるポテンシャルを秘めています。
               </div>
               <div class = "title11-text">短所</div>
               <div  class = "title11-texts">
              　共感性の高さから周囲の感情を敏感に拾うため、周囲の喜怒哀楽にモチベーションを左右されることがあります<br>
               　正しく褒めると伸びるタイプです。<br>
               失敗した際はお前ならできると言ってください。
               </div>
               <div  class = "title11-text">夢</div>
               <div  class = "title11-texts">
               　日本お子供達が、家庭環境に左右されず、学びたい子は学べる環境づくりをしたいと考えています。<br>
               　
               </div>
             </div>
         </div>
      </div>
      <div class = "self">2,経歴</div>
      <div class = "introduction2">
            <div class = "title2">
               <div class = "title2-text">幼少期</div>
               <div  class = "title2-name">
               小学４年<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">中学生</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">高校生</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">大学生</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
            <div class = "title2">
               <div class = "title22">⇩</div>
            </div>
            <div class = "title2">
               <div class = "title2-text">卒業後</div>
               <div  class = "title2-name">
               日本の教育問題を解決したいと考えています。<br>
               政治家、起業家、将来の方向性は決めかねてますが
               </div>
            </div>
      </div>
      <div class = "self">3,作品等</div>


      <div class = "portofrio-s">
               <div class = "title3-text">FURIMA</div>
               <div class = "title3-text">Paiza lank</div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content_1"></div>
               <div class = "title3-content_2"></div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content_12">
               プログラミングを習っていた際に最終課題で作ったものです。
               主にサーバー側の機能を実装したものになります。
               同期入校した方々の中で一番に完成させることができました！</div>
               <div class = "title3-content_22">
               paizaというプログラミングの技術を簡単に測れるアプリがあります。
               ランクはSを最高、Dを最低とする五段階評価される仕組みとなっております。
               現在私はAランクです。結果や詳細は公開されています。</div>
      </div>
      <div class = "portofrio-s">
               <a class = "aaa" href = "https://furima-28408.herokuapp.com/">ここから</a>
               <a class = "aaa" href = "https://paiza.jp/career/mypage"></a>
      </div>



      <div class = "portofrio-s">        
               <div class = "title3-text">Manymenu</div>
               <div class = "title3-text">About Manymenu</div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content_3"></div>
               <div class = "title3-content_4"></div>
      </div>
      <div class = "portofrio-s">
               <div class = "title3-content_32">
               最終課題終了後、デザイン内容等全て自身で作成した最初の完全オリジナルアプリです。
               『コロナ禍で必要とされているものは何か』と考えた
               メニュー記載アプリとなっております。詳細は右のabout_Manymenuに記載しております
               </div>
               <div class = "title3-content_42">
               オリジナルアプリ制作にあたって、調べた記事、論文等を簡単にまとめたものです。
               ここからアプリ制作の背景や、整備されている機能、この機能のメリット等が記載されています。
               根拠まで詰めたものですので、一度ご査収下さい。
               </div>
      </div>
      <div class = "portofrio-s">
               <a class = "aaa" href = "https://furima-28408.herokuapp.com/">ここから</a>
               <a class = "aaa" href = "https://paiza.jp/career/mypage"></a>
      </div>



      <div class = "self">4,その他、5つの自己研鑽</div>
      <div class = "portofrio-sss">
             <div class = "knowledgex">
                <div class = "title4">
                  <div class = "title4-text">毎日のニュースチェック</div>
                  <div class = "title4-content">
                  政治、国際、経済ニュースを中心に毎日ニュースの記事を読んでおります。
                  政治や国際ニュースは幼少期から好きなため、半分趣味です。</div>
               </div>
               <div class = "title4">
                  <div class = "title4-text">読書</div>
                  <div class = "title4-content">
                  主に心理学や、マーケティング、ビジネス書を読んでいます。
                  ただの読書にならないためにも、今後ビジネスの場で実践していきたいと考えています。
                  </div>
                </div>
                <div class = "title4">
                  <div class = "title4-text">FP</div>
                  <div class = "title4-content">
                  税金や相続等の一生のうちに関わるであろう知識を学んでおきたいと考え、
                  定期的に時間をとり教材を進めております。
                  来年１月に２級を合格できればと考えております。</div>
                </div>
                
                <div class = "title4">
                  <div class = "title4-text">中国語</div>
                  <div class = "title4-content">
                  中国はBRICsと呼ばれるようになってから、今日では世界二位の経済大国となりました。
                  今後は政治状況がより混迷化しない限り、世界一位になると言われています。
                  そのため、中国語の教養は多少必要と考え、
                  今ではHSK4級レベルの文章等はギリギリ読めるようになりました。</div>
                </div>
               <div class = "title4">
                  <div class = "title4-text">筋トレ、瞑想</div>
                  <div class = "title4-content">
                  筋トレの効果は生活習慣病の予防や、ストレス軽減、集中力向上と社会人として
                  必要なものを多くさ受けてくれるものと学んでから、毎日短時間ながら必ずしております。
                  <br>
                  瞑想も筋トレ同様、脳の構造を変化させるなど様々な科学的根拠があります。
                  私は一日数分だけですが、時間を割いて実践しています。
                  </div>
                </div>
                
            </div>
      </div>
</body>
<div class = "empty">
</div>
<footer class = "footer">
 <div class = "pt-end">portfolio  ~end~</div>
</footer>