.header{
  background-image: url('/assets/menu2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.8;
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: space-around;
}
.portofrio{
 font-style: italic;
 letter-spacing: 2vw;
 text-shadow: 6px 4px 2px rgb(249, 252, 61);
 font-family: 'Courier New', Courier, monospace;
 font-size: 70px;
 margin: 70px 20vw;
}

/**/
.body{
  width: 100vw;
  height: calc(100vh - 400px);
}
.index{
  display: flex;
  justify-content: space-around;
}
.title0-text{
  font-size: large;
  margin: 20px 0px;
  padding: 20px 10px;
  border: double 15px rgba(255, 217, 0, 0.397);
  background-color: rgba(255, 217, 0, 0.192);
  border-radius: 100%;
}
.self{
  display: flex;
  justify-content: space-around;
  margin: 60px 30px 20px;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title1{
  width: 100vw;
  display: flex;
}

.title1-text{
  border-radius: 100%;
  width: 120px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding: 20px 0px 20px 10px;
  height: 30px;
  margin: 20px;
  background: -moz-linear-gradient(top left, #FFF, #ffeb79); 
  background: -webkit-linear-gradient(top left, #FFF, #ebff78); 
  background: linear-gradient(to bottom right, #FFF, #FFC778);  
  overflow: hidden;
  overflow-x: scroll;
}
.title1-name{
  width: calc(50vw - 120px);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding: 10px 2px 10px 0px;
  height: 30px;
  margin: 20px;
  border-bottom: solid 1px rgb(43, 36, 36);
  overflow: hidden;
  overflow-y: scroll;
}
.title1-names{
  width: calc(80vw - 90px);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding: 10px 2px 10px 0px;
  height: 30px;
  margin: 20px;
  border-bottom: solid 1px rgb(43, 36, 36);
  overflow: hidden;
  overflow-y: scroll;
}
.titlesss{
  display: flex;
  justify-content: space-around;
}
.title1-texts{
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  padding: 50px;
  margin-top: 50px;
}
.title11-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 200px;
  padding: 10px 30px 10px;
  margin: 10px 50px;
  font-size: 20px;
  border: solid 2px rgba(70, 187, 255, 0.478);
  border-radius: 100%;
}
.title11-texts{
  margin: 10px 50px;
  border: outset 5px rgba(135, 206, 235,0.5);
}







.title2{
  display: flex;
  justify-content: center;
  margin: 30px;
}
.title2-text{
  border-bottom: solid 1px black;
  width: 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  height: 30px;
  margin: 20px 10px 10px;
}
.title2-name{
  border: double 5px rgba(84, 144, 255, 0.7);
  width: 60vw;
}
.title22{
  font-size: 20px;
}








.portofrio-s{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.title3-text{
  font-family: cursive;
  font-size: 30px;
  margin: 20px 0px;
}
.title3-content_1{
  border: solid 1px red;
  border-radius: 5%;
  padding: 50px;
  width: 30vw;
  height: 200px;
  margin: 20px 0px;
  background-image: url('/assets/furima.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 1.3;
}

.aaa{
  border: solid 1px red;
  height: 30px;
  width: 20vw;
  margin-bottom: 80px;
  border-radius: 20%;
  text-decoration: none;
  word-wrap: break-all;
}

.bbb{
  font-size: medium;
  text-decoration: none;
  text-align: center;
  word-wrap: break-all;
}



.title3-content_2{
  border: solid 1px red;
  border-radius: 5%;
  padding: 50px;
  width: 30vw;
  height: 200px;
  margin: 20px 0px;
  background-image: url('/assets/paiza.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 1.3;
}
.title3-content_3{
  border: solid 1px red;
  border-radius: 5%;
  padding: 50px;
  width: 30vw;
  height: 200px;
  margin: 20px 0px;
  background-image: url('/assets/Manymenu.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.title3-content_4{
  border: solid 1px red;
  border-radius: 5%;
  padding: 50px;
  width: 30vw;
  height: 200px;
  margin: 20px 0px;
  background-image: url('/assets/About_Manymenu.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.title3-content_12{
  border: solid 1px red;
  word-wrap: break-all;
  border-radius: 8%;
  padding: 20px 50px;
  width: 30vw;
  margin: 20px 0px;
}

.photos{
  border: solid 1px red;
  border-radius: 5%;
  padding: 30px;
  width: 35vw;
  height: 200px;
  margin: 20px 0px;
  overflow: hidden;
  overflow: scroll;
}

.photo1{
  width: 35vw;
  height: 200px;
  background-color: hotpink;
  background-image: url('/assets/About_Manymenu.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photos_coment{
  font-size: large;
  margin: 30px 0px 10px;
}
.photos_card{
  border: solid 2px black;
}

.photo1-1{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-2{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-3{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-4{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-5{
  width: 33vw;
  height: 10vw;
  background-image: url('/assets/photo1-5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-6{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-7{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-8{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-8.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-9{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-9.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-10{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-10.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-11{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-11.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-12{
  width: 33vw;
  height: 22vw;
  background-image: url('/assets/photo1-12.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-13{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-13.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-14{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-14.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-15{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-15.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-16{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-16.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-17{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-17.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo1-18{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-18.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo1-19{
  width: 33vw;
  height: 20vw;
  background-image: url('/assets/photo1-19.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}



.photo2-1{
  width: 35vw;
  height: 24vw;
  background-image: url('/assets/photo2-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-2{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-3{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-4{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-5{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo2-6{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-7{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-8{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-8.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-9{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-9.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-10{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-10.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-11{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-11.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.photo2-12{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-12.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-13{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-13.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-14{
  width: 35vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-14.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-15{
  width: 37vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-15.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-16{
  width: 37vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-16.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.photo2-17{
  width: 37vw;
  height: 24vw;
  background-color: hotpink;
  background-image: url('/assets/photo2-17.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

  .photo2-18{
    width: 35vw;
    height: 24vw;
    background-color: hotpink;
    background-image: url('/assets/photo2-18.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }







.title4{
  display: flex;
  border: dotted 2px rgb(154, 205, 50);
  margin: 0px 10vw;
}


.title4-text{
  border: solid 1px skyblue;
  margin: 5px;
  
  font-size: 20px;
  width: 150px;
}
.title4-content{
  border: solid 1px skyblue;
  margin: 5px;
  font-size: 20px;
  width: calc(80vw - 150px);
}








.empty{
  margin: 100px
}
.footer{
  height: 50px;
  border: dotted 10px rgba(231, 71, 191, 0.308);
  width: 100vw;
  margin-top: 0px;
  padding-bottom:  50px;
  bottom: 0px;
}
.pt-end{
  font-size: 30px;
  font-family: cursive;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  letter-spacing: 2vw;
  text-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
}
